@import "./style";

.column {
  @include flex-style(column);
}

.row {
  @include flex-style();
}

.nav {
  opacity: 0;
  transition: 0.3s;
  background-color: black;
  width: 100%;
  height: 70px;
  z-index: 3;
  @include position-style(fixed, 0);
  &.active {
    opacity: 1;
    transition: 0.3s;
  }
  img {
    cursor: pointer;
  }
}

.container {
  @include flex-style(column);
  position: relative;
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: black;
  .pageImg {
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: calc(100vh - 70px);
    object-fit: cover;
    object-position: 50% 33%;
    z-index: 0;
  }
  .title {
    z-index: 1;
    position: absolute;
    top: 100px;
    font-family: $blackFont;
    font-style: italic;
    font-size: 80px;
    opacity: 0;
    &.even {
      left: 100px;
    }
    &.odd {
      right: 100px;
    }
  }
  &.main {
    min-height: 100vh;
    .mainLogo {
      @include position-style($top: 100px, $right: 100px);
      width: 250px;
      animation: rightMoving 1.5s infinite;
    }
    .sign {
      width: 500px;
      @include position-style($top: 500px, $right: 100px);
    }
    .scroll-down-icon {
      @include position-style();
      top: calc(100vh - 60px);
      opacity: 1;
      animation: moving 1.5s infinite;
    }
    .mainImg {
      height: 100vh;
      opacity: 1;
    }
  }
  &.introducePage {
    .info-box {
      position: absolute;
      bottom: 100px;
      right: 100px;
      opacity: 0;
      .row {
        span {
          font-size: 20px;
          margin-right: 10px;
          transform: translateY(7px);
        }
        h4 {
          font-size: 60px;
          font-style: italic;
          font-family: $boldFont;
          margin: 3px 0;
        }
      }
    }
  }
  &.albumPage {
    .album-wrap {
      position: absolute;
      bottom: 100px;
      overflow: hidden;
      width: 80%;
      opacity: 0;
      .click-guide {
        font-family: $blackFont;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px white;
        margin-bottom: 20px;
        font-size: 40px;
        animation: moving 1.5s infinite;
      }
      .album-list {
        overflow: auto;
        width: 100%;
        justify-content: flex-start;
        ::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none;
        .album-cover {
          width: 200px;
          margin-right: 50px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .scroll-wrap {
        width: 100%;
        margin-top: 20px;
        .scroll-btn {
          padding: 0 60px;
          font-family: $blackFont;
          font-size: 40px;
          color: rgba(0, 0, 0, 0);
          -webkit-text-stroke: 1px white;
        }
      }
    }
  }

  .animate {
    animation: txtUpAnimation 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}
.album-modal-bg {
  @include flex-style();
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  .album-modal {
    @include flex-style(column);
    opacity: 1;
    position: relative;
    .album-modal-cover {
      width: 40%;
      border-radius: 10px;
    }
    .album-modal-content {
      @include flex-style(column, center, flex-start);
      overflow: auto;
      width: 40%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 5;
      border: 2px solid white;
      border-radius: 10px;
      .closeBtn {
        position: absolute;
        top: 30px;
        right: 30px;
        font-family: $blackFont;
        padding: 5px 10px;
        font-size: 20px;
        border-radius: 20%;
        border: 2px solid white;
      }
      .album-type {
        margin-top: 50px;
        font-size: 13px;
      }
      .album-name {
        font-family: $blackFont;
        font-style: italic;
        margin-bottom: 5px;
      }
      .released-date {
        font-family: $thinFont;
        font-size: 13px;
        margin-bottom: 30px;
      }
      .song-list {
        padding-bottom: 50px;
        .song {
          width: 100%;
          span {
            &.lead {
              font-family: $boldFont;
              font-size: 10px;
              background-color: white;
              color: black;
              padding: 3px 5px;
              border-radius: 30%;
              margin-right: 10px;
            }
            &.song-title {
              display: inline-block;
              margin-bottom: 10px;
              font-family: $boldFont;
            }
            &.lead-song {
              text-decoration: underline;
            }
            b {
              font-family: $boldFont;
              font-size: 12px;
              font-style: italic;
            }
          }
          hr {
            width: 100%;
            height: 1px;
            margin: 10px 0;
            border: 0;
            background-color: white;
          }
          &:last-child {
            hr {
              display: none;
            }
          }
        }
      }
    }
  }
}
@include wide-tablet {
  .container {
    .title {
      font-size: 50px;
    }
    &.introducePage {
      .info-box {
        .row {
          h4 {
            font-size: 40px;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
    &.albumPage {
      .album-wrap {
        bottom: 50px;
        .click-guide {
          font-size: 30px;
        }
        .scroll-wrap {
          .scroll-btn {
            font-size: 30px;
          }
        }
      }
    }
  }
  .album-modal-bg {
    .album-modal {
      .album-modal-cover {
        width: 60%;
      }
      .album-modal-content {
        width: 60%;
      }
    }
  }
}
@include tablet {
  .container {
    &.albumPage {
    }
  }
  .album-modal-bg {
    .album-modal {
      .album-modal-cover {
        width: 80%;
      }
      .album-modal-content {
        width: 80%;
      }
    }
  }
}

@include mobile {
  .container {
    .title {
      font-size: 30px;
      &.even {
        top: 50px;
        left: 50px;
      }
      &.odd {
        top: 50px;
        right: 50px;
      }
    }
    &.main {
      .mainLogo {
        width: 200px;
        top: 50px;
        right: 20px;
      }
      .sign {
        width: 200px;
      }
      .scroll-down-icon {
        scale: 0.7;
      }
    }
    &.introducePage {
      .info-box {
        bottom: 50px;
        right: 50px;
        .row {
          span {
            font-size: 8px;
          }
          h4 {
            font-size: 20px;
          }
        }
      }
    }
    &.albumPage {
      .album-wrap {
        bottom: 30px;
        .click-guide {
          font-size: 20px;
        }
        .album-list {
          .album-cover {
            width: 150px;
            margin-right: 20px;
          }
        }
        .scroll-wrap {
          .scroll-btn {
            font-size: 20px;
          }
        }
      }
    }
  }
  .album-modal-bg {
    .album-modal {
      .album-modal-cover {
        width: 90%;
      }
      .album-modal-content {
        width: 90%;
        .released-date {
          font-size: 15px;
        }
        .song-list {
          .song {
            span {
              font-size: 10px;
              b {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
  }
}
