@import './style';

.column {
  @include flex-style(column);
}

.row {
  @include flex-style();
}

.App {
  height: 500vh;
  .nav {
    opacity: 0;
    transition: 0.3s;
    background-color: black;
    width: 100%;
    height: 70px;
    @include position-style(fixed, 0);
    &.active {
      opacity: 1;
      transition: 0.3s;
    }
  }
}

.container {
  width: 100%;
  min-height: 200vh;
  .first {
    @include flex-style(column);
    width: 100%;
    height: 100vh;
    .mainImg {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: 50% 33%;
    }
    .mainLogo {
      @include position-style($top: 100px, $right: 100px);
      width: 15rem;
      animation: rightMoving 1.5s infinite;
    }
    .sign {
      width: 500px;
      @include position-style($top: 500px, $right: 100px);
    }
    .scroll-down-icon {
      @include position-style();
      top: calc(100vh - 60px);
      opacity: 1;
      animation: moving 1.5s infinite;
    }
  }
}
