@charset "UTF-8";
@keyframes moving {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes rightMoving {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav {
  opacity: 0;
  transition: 0.3s;
  background-color: black;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
}
.nav.active {
  opacity: 1;
  transition: 0.3s;
}

img {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.container.main .mainImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 33%;
}
.container.main .mainLogo {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 15rem;
  animation: rightMoving 1.5s infinite;
}
.container.main .sign {
  width: 500px;
  position: absolute;
  top: 500px;
  right: 100px;
}
.container.main .scroll-down-icon {
  position: absolute;
  top: calc(100vh - 60px);
  opacity: 1;
  animation: moving 1.5s infinite;
}
.container.intro {
  background-color: black;
}
.container.intro .title {
  font-size: 50px;
  font-family: "NotoSansB", "맑은 고딕", sans-serif;
  margin-bottom: 30px;
}
.container.intro .swiper {
  width: 100%;
}
.container.intro .swiper .swiper-button-prev {
  left: calc(50% - 800px);
}
.container.intro .swiper .swiper-button-next {
  left: calc(50% + 800px);
}