@keyframes moving {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes rightMoving {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App {
  height: 500vh;
}
.App .nav {
  opacity: 0;
  transition: 0.3s;
  background-color: black;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
}
.App .nav.active {
  opacity: 1;
  transition: 0.3s;
}

.container {
  width: 100%;
  min-height: 200vh;
}
.container .first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.container .first .mainImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 33%;
}
.container .first .mainLogo {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 15rem;
  animation: rightMoving 1.5s infinite;
}
.container .first .sign {
  width: 500px;
  position: absolute;
  top: 500px;
  right: 100px;
}
.container .first .scroll-down-icon {
  position: absolute;
  top: calc(100vh - 60px);
  opacity: 1;
  animation: moving 1.5s infinite;
}